site_name: Animoca Wiki
site_description: Animoca Brands Knowledge Base
site_author: Abby
site_url: https://animoca-wiki.vercel.app

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - navigation.top

plugins:
  - search
  - roamlinks
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - 首頁: index.md
  - Animoca Brands: Animoca-Brands.md
  - 人物:
    - Yat Siu: Yat-Siu.md
    - Arthur Madrid: Arthur-Madrid.md
    - Kenneth Shek: Kenneth-Shek.md
    - Keyvan Peymani: Keyvan-Peymani.md
  - 產品:
    - Animoca Minds: Animoca-Minds.md
    - The Sandbox: The-Sandbox.md
    - Moca Network: Moca-Network.md
    - Moca ID: Moca-ID.md
    - Anichess: Anichess.md
    - Cosmic Club: Cosmic-Club.md
    - AIR Kit: AIR-Kit.md
    - AIR Shop: AIR-Shop.md
  - 投資組合:
    - Axie Infinity: Axie-Infinity.md
    - OpenSea: OpenSea.md
    - Yuga Labs: Yuga-Labs.md
    - Consensys: Consensys.md
  - 策略:
    - 2026 策略: 2026-Strategy.md
  - 收購: Acquisitions.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/chrisw225tw-lab/animoca-wiki

extra_css:
  - stylesheets/extra.css
